:root {
    --header-font-size: clamp(3rem, 5vw, 4.25rem);
    --h1-font-size: clamp(3.5rem, 5vw, 9.375rem);
    --circle-size: clamp(3.125rem, 10vw, 6.25rem);
    --toggle-size: clamp(2.5rem, 5vw, 2.9rem);
    --logo-size: clamp(3rem, 5vw, 3.375rem);
}

@media (max-width: 767px) {

    ::-webkit-scrollbar {
        display: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        display: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        display: none;
    }

    body,
    html {
        overflow-x: hidden !important;
    }

    header ul li a {
        font-size: var(--header-font-size);
        margin-top: -1.75rem;
        text-align: center;
    }

    .home {
        height: 100vh;
    }

    .home h1:before {
        bottom: 0.9375rem;
        left: 8.5rem;
    }

    .home .col-lg-6:nth-child(2) {
        margin-top: -2rem;
        text-align: center;
    }

    header img {
        width: clamp(30%, 15vw, 60%);
    }

    .toggle {
        margin: 0;
        width: var(--toggle-size);
        height: var(--toggle-size);
    }

    h1 {
        font-size: var(--h1-font-size) !important;
    }

    header ul {
        margin: 0;
        padding: 0;
    }

    header .brand-time .row .col-lg-3:nth-child(2),
    header .brand-time .row .col-lg-3:nth-child(3) {
        display: none;
    }

    .scroll-indicator {
        top: 93%;
    }

    .home .col-lg-6 {
        height: 45vh !important;
    }

    .home .row {
        row-gap: 1rem;
    }

    .rotating-text {
        margin-left: 25px;
    }


    .home p {
        position: relative;
    }

    .home p:before {
        width: var(--circle-size);
        height: var(--circle-size);
        bottom: 0;
        right: 0;
        transform: translate(-15%, 90%);
        position: absolute;
    }

    .rotating-text p {
        margin-top: -2rem;
    }




    .footer .brand-text {
        transform: translateY(15%);
    }


    .footer .green-circle {
        transform: translate(35%, -85%);
    }

    .portfolio .row h1 {
        margin-top: 0;
    }

    .portfolio .selected-work {
        font-size: 2.5rem;
    }

    .portfolio .portfolio-card {
        height: 20rem;
    }

    .portfolio .portfolio-image {
        height: 15rem;
    }

    .portfolio .project-title {
        font-size: 1.5rem;
    }

    .portfolio .row {
        position: relative;
    }

    .portfolio .section-label {
        position: absolute;
        right: 2%;
        top: 0.75rem;
    }

    .portfolio .description {
        margin: -1rem 0 3rem 0;
        padding: 0;
    }







    .about h1 {
        font-size: 3rem !important;
    }

    .about {
        padding: 2.5rem 0;
    }

    .about .achievement-item:after {
        right: 18%;
    }

    .about .h5,
    h5 {
        font-size: 1rem;
    }

    .about .row {
        position: relative;
    }

    .about .section-label {
        padding: 3px 4px;
        font-size: clamp(0.1rem, 1vw + 0.5rem, 1rem);
        position: absolute;
        right: 2%;
        top: 2%;
    }







    .service h1 {
        font-size: 2rem !important;

    }

    .service .accordion-header button {
        padding: 20px 20px 20px 0;
    }

    .service .accordion-header button {
        margin-left: 0;
    }

    .service .accordion-header button::before {
        display: none;
    }





    .marquee-stacks .logo {
        width: var(--logo-size);
        margin: 0 1.25rem;
    }

    .marquee-stacks .logo {
        filter: grayscale(0%);
    }



    .experience .section-label,
    .stacks .section-label {
        padding: 3px 5px;
        line-height: 1.3;
        font-size: clamp(0.175rem, 1vw + 0.5rem, 1rem);
    }

    .experience h1 {
        font-size: 2.2rem !important;
    }

    .experience .col-4 {
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .experience .col-4 .date {
        font-size: 0.8rem !important;
    }

    .experience .subtitle {
        margin-bottom: 1rem;
    }





    .stacks h1 {
        font-size: 2.4rem !important;
    }


    .contact .col-md-3 {
        margin-top: 2rem;
        text-align: center;
    }

    .contact .col-md-3 img {
        width: 85%;
    }

    .contact .social-container img:last-child {
        margin-right: 0px;
    }

    .contact .social-container img {
        width: 3%;
    }



    header .social-container img:last-child {
        margin-right: 0px;
    }

    header .social-container img {
        width: 2.6%;
    }




    /* CONTACT PAGE */

    .contact-page .mb-4 {
        margin-bottom: 1rem !important;
    }

    .contact-page .g-5,
    .gy-5 {
        --bs-gutter-y: 1rem;
    }

    .contact-page .mb-5 {
        margin-bottom: 2rem !important;
    }

    .contact-page .form-control {
        padding: 1.2rem 1.25rem;
    }

    .contact-page label {
        font-size: clamp(1rem, 2vw + 1px, 1.375rem);
    }

    .contact-page .green-square {
        position: absolute;
        right: 10%;
        top: 14%;
        z-index: -1;
    }

    .contact-page h1 {
        line-height: 3rem;
    }

    .experience .grain {
        width: 150%;
        height: 150%;
    }
}

.open {
    top: 0;
    height: 100vh;
    animation: slide-down 0.8s ease-in-out;
}

@keyframes slide-down {
    0% {
        border-bottom-left-radius: 12.5rem;
        border-bottom-right-radius: 12.5rem;
    }

    100% {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}


@media (min-width: 768px) {
    .pattern {
        background-size: 150px 150px;
    }

    .pattern1 {
        background-size: 500px 500px;
    }

    .pattern2 {
        background-size: 60px 60px;
    }
}

@media (max-width: 991px) {
    header ul li a {
        font-size: var(--header-font-size);
        margin-top: -1.75rem;
        text-align: center;
    }

    header img {
        width: clamp(30%, 15vw, 60%);
    }

    .toggle {
        margin: 0;
        width: var(--toggle-size);
        height: var(--toggle-size);
    }

    header ul {
        margin: 0;
        padding: 0;
    }

    header .brand-time .row .col-lg-3:nth-child(2),
    header .brand-time .row .col-lg-3:nth-child(3) {
        display: none;
    }

}

@media (min-width: 1200px) {
    .pattern {
        background-size: 200px 200px;
    }

    .pattern1 {
        background-size: 700px 700px;
    }

    .pattern2 {
        background-size: 55px 55px;
    }
}



/* Responsive animation speed */
/* @media (max-width: 1200px) {
    .testimonial-row {
        animation-duration: 50s;
    }
}

@media (max-width: 992px) {
    .testimonial-row {
        animation-duration: 40s;
    }
}

@media (max-width: 768px) {
    .testimonial-row {
        animation-duration: 30s;
    }
}

@media (max-width: 576px) {
    .testimonial-row {
        animation-duration: 20s;
    }
} */